.Rproj.user
.Rhistory
.RData
.Ruserdata

*.out
*.fa
*.log
*.ms
*.gz
*.masked.faa
*.faa
*.fasta
*.fasta.fai
*.fastq.gz
*.pplacer.json
*.json
*.tre
*.gff
*.gfa
*.gv
*.bam.csi
*.stderr
*.msa.fasta.gz
*.user_msa.fasta.gz
*.filtered.tsv
*.tree
*.err
*.ffn
*.fna
*.fsa
*.gbk
*.gff
*.sqn
*.tbl
*.ec