pre.sourceCode.bash,
pre code.language-bash,
pre code.bash {
    background-color: #F5EFE1;
    border-radius: 4px;
    padding: 0.5em;
    font-family: "SFMono-Regular", Consolas, Monaco, monospace;
    font-size: 0.90em;
    overflow-x: auto;
}